* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* general */
.flex {
    display: flex;
    
}

.flex-col {
    flex-direction: column;
}

.jus-con-center {
    justify-content: center;
    
}

.jus-con-space {
    justify-content:space-between
    
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;

}

.gap {
    gap: -10px;
}

.bold {
    font-weight: bold;
}

.font-08 {
    font-size: 0.8em;
}

.margin-top-bottom-15 {
    margin: 15px 0;
}

.margin-top-bottom-5 {
    margin: 5px 0;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.white {
    color: white;
}

.light-grey {
    color: #7b7d82;
}


.text-dec-no {
    text-decoration: none;
}



main .app > * {
    height: 100%;
}


.app {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    overflow: hidden;
}


h2 {
    padding-left: 15px;
    color: white;
    margin: 15px 0;
    
}

/* side */



.side-menu {
    min-height: 500px; 
    
    
    
    
    background-color: #000000;
    width:250px ;

}

.logo {
    width: 200px;
    padding: 20px 20px;
}


.small-logo {
    display: none;
}


.side-top > a {
    text-decoration: none;
    margin: 5px 0;
    color: white;
    filter: brightness(0.7);
}

.img-icon-side {
    width: 25px;
    margin-left: 20px;
    filter: brightness(0.7);
    
}

.fill-white {
    fill: white;
}

.side-top > h3 {
    margin-left: 20px;
    color: white;
}

.side-top > li {
    list-style: none;
    
    
}

aside ul li > a {
    text-decoration: none;
    color: white;
    filter: brightness(0.7);
}

.nome-playlist {
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

ul {
    overflow: auto;
    height: 100%;
}


.side-top {
    height:calc(100% - 80px);
}

.side-bot {
    background-color: #000000;
    height: 80px;
    
}

.img-circle {
    max-width: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    object-fit: cover;
    background-color: #7b7d82;
}

.img-size-30 {
    width: 30px;
}




.side-bot > a {
    text-decoration: none;
    color: white;
    filter: brightness(0.7);
}

.side-bot > hr {
    width: 80%;
    filter: brightness(0.5);
    margin-left: 20px;
    color: white;
}









/* main part */
.upgrade-bar {
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    opacity: 0.7;
    z-index: 20;
    background-color:#080b12 ;
    
    
}

.button-upgrade {
    padding: 10px 15px;
    float: right;
    margin-right: 25px;
    color: white;
    margin-top: 25px;
    border: white 1px solid;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.0)
    
    
    
    
   
}



.main-part {
    
    width: calc(100% - 250px);
    background-color: #141922;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.main-part nav > a {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    font-weight: bold;
    filter: brightness(0.5);

}






.flex-music {
    display: flex;
    flex-wrap: wrap;
}

.music-container {
    width: calc((100% / 6) - 10px );
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0 15px;
    
    
    

}

.pos-relative {
    position: relative;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;

}

.music {
    width: 100%;
}


.main-part section > p {
    color: #7b7d82;
    padding-left: 15px;
    margin-bottom: 15px;
}

.music-container > h3 {
    color: white;
    text-align: center;
    margin: 10px 0;
}

.music-container > h4 {
    color: #7b7d82;
    text-align: center;
}




/* footer */
.bottom-part {
    width: 100vw;
    height: 80px;
    background-color: #282828;
    position: fixed;
}


.img-footer {
    width: 40px;
}

.bottom-part  a:not(.play) {
    color: white;
    filter: brightness(0.7);
}

.bar {
    width: 20vw;
    height: 8px;
    background-color: #7b7d82;
    border-radius: 20px;
}




.music-bar {
    height: 8px;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    
}


.mini-bar {
    width: 5vw;
    height: 8px;
    background-color: #7b7d82;
    border-radius: 20px;

}

.mini-music-bar {
    height: 8px;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    
}





/* hover */

.side-top a:hover {
    filter: brightness(1);
   
}

.side-bot a:hover {
    filter: brightness(1);
   
}

.main-part nav > a:hover {
    filter: brightness(1);
}



.music-container:hover .overlay {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.bottom-part a:not(.fa-circle-play):hover {
    filter: brightness(2);
}



/* media query */

@media screen and (max-width:1100px) {
    .music-container {
        width: calc((100% / 4) - 10px );
    }
}

    

@media screen and (max-width:700px) {
    .music-container {
        width: calc((100% / 2) - 10px );
    }
}


@media screen and (max-width:600px) {
    
    .side-menu {
        width: 50px;
    }

    .main-part {
    
        width: calc(100% - 50px);
        
        
    }


    .small-logo {
        display: block;
        width: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .logo {
        display: none;
    }


    .side-top a h4 {
        display: none;
    }

    .side-top a img {
        margin-left: 10px;
        width: 30px;
        
    }

    .side-top h3 {
        display: none;
    }

    .side-top i {
        display: none;
    }

    .side-top .nome-playlist {
        display: none;
    }



    .side-bot h4  {
        display: none;
    }

    .side-bot h3 {
        display: none;
    }


    .side-bot hr {
        display: none;
    }

    .side-bot img {
        margin-left: 10px;
    }

}